version: '3.7'
services:
  scraper-lambda:
    image: rondonsarnik/scraper-lambda
    container_name: scraper-lambda
    ports:
      - 8080:8080
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/home/ubuntu/volleyball/database-access.json
      - DB_HOST=${DB_HOST}
      - DB_ROOT=${DB_ROOT}
      - ENVIRONMENT=prod