{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        org.clojure/tools.nrepl {:mvn/version "0.2.13"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        com.brunobonacci/mulog-cloudwatch {:mvn/version "0.9.0"}
        com.brunobonacci/mulog-slack {:mvn/version "0.9.0"}
        enlive/enlive {:mvn/version "1.1.6"}
        
        ; Bricks
        poly/database {:local/root "../../components/database"}
        poly/leagues {:local/root "../../components/leagues"}
        poly/results-scraper {:local/root "../../bases/results-scraper"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :jib {:deps {io.github.atomisthq/jibbit
                            {:git/url "https://github.com/yalayo/jibbit.git"
                               :sha "6f55e679dc30de53ed89c7c89ddad0863e7e0600"}}}
                     :ns-default jibbit.core
           :uberjar {:main app.backend.results-scraper.core
                     :uber-file "target/app.jar"
                     :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
