{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        
        ; Bricks
        poly/results-scraper {:local/root "../../bases/results-scraper"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :uberjar {:main app.backend.results-scraper.core}}}
