{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}
        alekcz/datahike-firebase {:mvn/version "0.5.1506"}
        
        ; Bricks
        poly/results-scraper {:local/root "../../bases/results-scraper"}}

 :aliases {:test {:extra-paths []
                  :extra-deps  {}}
           :jib {:deps {io.github.atomisthq/jibbit
                            {:git/url "https://github.com/yalayo/jibbit.git"
                               :sha "6f55e679dc30de53ed89c7c89ddad0863e7e0600"}}}
                     :ns-default jibbit.core
           :uberjar {:main app.backend.results-scraper.core
                     :uber-file "target/app.jar"
                     :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
