{:main app.backend.results-scraper.core
 :base-image {:image-name "gcr.io/distroless/java"
              :type :registry}
 :target-image {:image-name "rondonsarnik/scraper-lambda"
                :type :registry}}